@page
@model CustomerManager.Pages.CustomersData.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerData[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerData[0].CustomerAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerData[0].CustomerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerData[0].CustomerCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerData[0].CustomerDescriptionField)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerData[0].CustomerConsultant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerData[0].CustomerProjectLead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerData[0].CustomerActivitySelection)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CustomerData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDescriptionField)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerConsultant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerProjectLead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerActivitySelection)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
